// 間距
.gap-6xl {
    gap: 80px
}

;

.gap-5xl {
    gap: 64px
}

;

.gap-4xl {
    gap: 56px
}

;

.gap-3xl {
    gap: 48px
}

;

.gap-2xl {
    gap: 40px
}

;

.gap-xl {
    gap: 32px
}

;

.gap-l {
    gap: 24px
}

;

.gap-m {
    gap: 16px
}

;

.gap-s {
    gap: 12px
}

;

.gap-xs {
    gap: 8px
}

;

.gap-xxs {
    gap: 4px
}

;